body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}
.sidebar {
    width: 250px;
    background: #333;
    color: white;
    padding: 30px;
    height: 100vh;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}
.content {
    text-align: center;
    margin-left: 60px;
    padding: 20px;
    text-align: justify;
    flex-grow: 1;
    width: 100%;
    transition: margin-left 0.3s ease;
}
header {
  
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.content.active {
    margin-left: 400px;
    text-align: center;
    
}

.sidebar.active, .sidebar.wide {
    left: 0;
    padding: 20px;
}
.content.active, .content.wide {
    margin-left: 280px;
    text-align: center;
    width: calc(100% - 250px);
}
section {
    margin-top: 0;
    padding-top: 0;
}
@media screen and (min-width: 1024px) {
    .sidebar {
        left: 0;
    }
    .content {
        text-align: center;
        margin-left: 300px;
        width: calc(100% - 250px);
    }
    .menu-btn {
        display: none;
    }
}